[submodule "Extern/glfw"]
	path = Extern/glfw
	url = https://github.com/glfw/glfw
[submodule "Extern/glm"]
	path = Extern/glm
	url = https://github.com/g-truc/glm
[submodule "Extern/stb"]
	path = Extern/stb
	url = https://github.com/nothings/stb
[submodule "Extern/cesium-native"]
	path = Extern/cesium-native
	url = https://github.com/nithinp7/cesium-native
[submodule "Extern/MikkTSpace"]
	path = Extern/MikkTSpace
	url = git@github.com:mmikk/MikkTSpace.git
[submodule "Extern/VulkanMemoryAllocator"]
	path = Extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Extern/shaderc"]
	path = Extern/shaderc
	url = https://github.com/google/shaderc
[submodule "Extern/hash-library"]
	path = Extern/hash-library
	url = https://github.com/stbrumme/hash-library
[submodule "Extern/imgui"]
	path = Extern/imgui
	url = git@github.com:ocornut/imgui.git
